<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {% include "header.html" %}
    {% include "navbar.html" %}
    <div id="main">
      <span>전국 맛집 랭킹</span>
      <div id="mainRank">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>