<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div>내정보</div>
    <div id="myProfile">
      <div id="">
        <form id="photoBox" action="/profile/image/{{user.user_id}}" method="post" enctype="multipart/form-data">
          {% if user.user_img %}
          <img id="photo" src="/images/{{user.user_img}}" />
          {% else %}
          <img id="photo" src="/images/lion.jpg" />
          {% endif %}
          <label id="changeBtn" for="changeInput"></label>
          <input class="hidden" id="changeInput" name="myPhoto" type="file" />
          <button id="myPhotoUp" type="submit">업로드</button>
        </form>
        <div id="nick">{{user.user_nick}}</div>
      </div>
      <div id="profileBox">
        <form id="profileTel" action="/profile/{{user.user_id}}" method="post">
          <div>이름: {{user.user_nm}}</div>
          <input id="inputTel" class="hidden" name="tel" type="text" />
          <div id="divTel">{{user.user_tel}}</div>
          <div>성별: {{user.user_gender}}</div>
          <input id="inputAddr" class="hidden" name="addr" type="text" />
          <div id="divAddr">{{user.user_addr}}</div>
          <button id="modify_af" class="hidden" type="submit">수정완료</button>
          <button id="modify_bf">수정</button>
        </form>
        <a id="withdrawBtn" href="/profile/{{user.user_id}}/withdraw"
          >회원탈퇴</a
        >
      </div>
    </div>
    <div>
      <div>내가 쓴 글</div>
      <div>
        {% if contents.length > 1 %}
          {% for i in range(0, contents.length) %}
            <div>{{content[i].board_title}}</div>
            <div>{{content[i].board_content}}</div>
            {% for img in content[i].img %}
              {% if img === '' %}
            <img src="/images/lion.jpg" />
              {% else %}
            <img src="/images/{{img.filename}}" />
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% else %}
          <div>등록한 글이 없습니다.</div>
        {% endif %}
      </div>
    </div>
  </body>
  <script src="/javascripts/profile.js"></script>
</html>